/* -------------------------------------------------
Fonts
------------------------------------------------- */

/* Engravers Gothic */
@import url('../fonts/engravers_gothic/stylesheet.css'); 


/* -------------------------------------------------
General
------------------------------------------------- */

html,
body
{
	height: 100%;
}

body 
{
	background-color: #fff;
	color: black;
	font-family: EngraversGothicBTRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 93.75%; /* 15px/16px */
	letter-spacing: 0.2em;
	line-height: 1.5;
	text-transform: uppercase;
}

a
{
	text-decoration: none;
	transition: border 0.3s;
	-moz-transition: border 0.3s; 
	-webkit-transition: border 0.3s; 
	-o-transition: border 0.3s;
	outline: 0;
}

a:link,
a:visited
{
	border-bottom: 1px solid black;
	color: black;
	padding-bottom: 0.4em;
}
a:hover,
a:active,
a:focus
{
	border-bottom: 1px solid #E5E5E5;
	color: black;
}

h1, h2, h3, h4, h5, h6
{
	font-size: 1em;
	font-weight: normal;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.invisible
{
	visibility: hidden;
}

.hidden
{
	display: none;
}

/* Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* -------------------------------------------------
Wrapper
------------------------------------------------- */

#wrapper
{
	height: 100%;
	position: relative;
}

/* -------------------------------------------------
Header
------------------------------------------------- */

header
{
	margin: 0 2em 8em;
	padding-top: 2em;
	position: relative;
	text-align: left;
}

	header h1
	{
		margin: 0;
	}

	header h1 a 
	{
		transition: color 0.3s;
		-moz-transition: color 0.3s; 
		-webkit-transition: color 0.3s; 
		-o-transition: color 0.3s;
	}

	header h1 a:link,
	header h1 a:visited 
	{
		border-bottom: none;
		color: black;
	}

	header h1 a:hover,
	header h1 a:active,
	header h1 a:focus 
	{
		color: #999;
	}

	header h2 
	{
		color: #999;
		margin: 0 0 2em;
		width: 75%;
	}

	header nav li
	{
		display: block;
		margin: 0 0.4em 1em 0;
	}

	@media screen and (min-width: 28em) {
		header nav li
		{
			display: inline;
		}
	}

	.archive header li.menu-item a:link,
	.archive header li.menu-item a:visited 
	{
		border-bottom-color: #E5E5E5;
	}

	.archive header li.menu-item a:hover,
	.archive header li.menu-item a:active,
	.archive header li.menu-item a:focus 
	{
		border-bottom-color: black;
	}

	.archive header li.current-menu-item a:link,
	.archive header li.current-menu-item a:visited 
	{
		border-bottom-color: black;
	}

/* -------------------------------------------------
Footer
------------------------------------------------- */

footer
{
	margin: 8em 2em 2em;
	position: relative;
	text-align: left;
}

	footer nav li
	{
		display: inline;
		font-size: 0.8em;
		margin: 0 0.4em 0 0;
	}

/* -------------------------------------------------
Home
------------------------------------------------- */

body.home .homepage_slideshow 
{
	overflow: hidden;
	top: -4rem;
	right: 0;
	width: 100%;
	height: 30rem;
}

body.home .homepage_slideshow p
{
	height: 100%;
	margin: 0;
}

body.home .homepage_slideshow img 
{
	width: 100%;
	height: auto;
}

body.home footer
{
	top: -6rem;
}

@media screen and (min-width: 40em) {
	body.home .homepage_slideshow 
	{
		height: 60rem;
	}
}

@media screen and (min-width: 60em) {
	body.home .homepage_slideshow
	{
		position: absolute !important;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
	}

	body.home footer 
	{
		position: absolute;
		top: auto;
		bottom: 0;
	}
}

/* -------------------------------------------------
Projects
------------------------------------------------- */

section.posts_wrapper {
	margin: 0 2rem;
}

div.project_wrapper
{
	margin: 0 auto 8rem;
	max-width: 60.8rem;
}

	.project_images
	{
		cursor: pointer;
	}
	
		.project_images img
		{
			height: auto;
			max-width: 100%;
		}

		.project_images .project_credits 
		{
			background-color: #eee;
			font-size: 0.8rem;
			height: 100%;
			text-align: center;
			width: 100%;
		}

		.project_images .project_credits p
		{
			margin: 0 auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 80%;
		}
		
	.project_caption
	{
		font-size: 0.8rem;
		margin: 0;
		text-align: center;
	}
		
	.project_nav
	{
		margin: 10px auto 0;
		text-align: center;
	}
	
		.project_nav span
		{
			font-size: 1.5em;
			opacity: 0.2;
		}
		
		.project_nav span.cycle-pager-active
		{
			opacity: 1.0;
		}
